
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layui-tdesign Admin</title>
    <link rel="stylesheet" href="static/admin/layui/css/layui.css">
    <link rel="stylesheet" href="static/admin/admin.css?v={:time()}">
</head>
<body>

<div class="layui-layout layui-layout-admin" id="IA_layui_Tdesign">
    <div class="page-loading">
        <div class="loading-icon">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
        </div>
    </div>
    <div id="IA_layui_Tdesign_header" class="layui-header">
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" lay-filter="ia_header_nav" id="ia_header_nav">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                <a href="javascript:;" ia-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="ia_side_menu_flexible"></i>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" ia-event="refresh" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="static/admin/images/user.png" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a data-href="" ia-event="popup">修改密码</a></dd>
                    <dd><a data-href="" ia-event="popup">退出登录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
        </ul>
    </div>

    <div id="IA_layui_Tdesign_body" class="layui-body">
        <div class="layui-tab" lay-filter="window-tab" lay-allowclose="true" >
            <ul class="layui-tab-title"></ul>
            <div class="layui-tab-content">
<!--                -->
            </div>
        </div>
    </div>

    <div id="IA_layui_Tdesign_side" class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <div class="layui-logo layui-hide-xs layui-bg-black">layout demo</div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree layui-nav-left" lay-filter="ia_side_menu" id="ia_side_menu"></ul>
        </div>
    </div>


    <div id="IA_layui_Tdesign_footer" class="layui-footer">
        <!-- 底部固定区域 -->
        ia-admin 版权所有
    </div>
</div>






<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="static/admin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).extend({
        index: '/static/admin' //主入口模块
    }).use(['admin'],function(){
        let admin = layui.admin;
        admin.menu.render({
            el:'#ia_side_menu',
            header_el:'#ia_header_nav'
        })
        admin.open('{:url("home")}','<i class="layui-icon layui-icon-home"></i>',0)

    });
</script>
</body>
</html>