:root{
    --side-width:232px;
    --side-item-height:36px;
    --bg-color:var(--td-brand-color-1);
    --header-bg-color:#fff;
    --td-color:#fff;
    --td-active-color:var(--td-brand-color-9);
    --header-box-shadow:1px 1px 8px #266fe82b;

    --td-hover-color:#fff;
    --td-brand-color-1:#043382;
    --td-brand-color-2: #d4e3fc;
    --td-brand-color-3: #bbd3fb;
    --td-brand-color-4: #96bbf8;
    --td-brand-color-5: #699ef5;
    --td-brand-color-6: #4787f0;
    --td-brand-color-7: #266fe8;
    --td-brand-color-8: #0052d9;
    --td-brand-color-9: #0034b5;
    --td-brand-color-10: #001f97;
    --td-warning-color-1: #fef3e6;
    --td-warning-color-2: #f9e0c7;
    --td-warning-color-3: #f7c797;
    --td-warning-color-4: #f2995f;
    --td-warning-color-5: #ed7b2f;
    --td-warning-color-6: #d35a21;
    --td-warning-color-7: #ba431b;
    --td-warning-color-8: #9e3610;
    --td-warning-color-9: #842b0b;
    --td-warning-color-10: #5a1907;
    --td-error-color-1: #fdecee;
    --td-error-color-2: #f9d7d9;
    --td-error-color-3: #f8b9be;
    --td-error-color-4: #f78d94;
    --td-error-color-5: #f36d78;
    --td-error-color-6: #e34d59;
    --td-error-color-7: #c9353f;
    --td-error-color-8: #b11f26;
    --td-error-color-9: #951114;
    --td-error-color-10: #680506;
    --td-success-color-1: #e8f8f2;
    --td-success-color-2: #bcebdc;
    --td-success-color-3: #85dbbe;
    --td-success-color-4: #48c79c;
    --td-success-color-5: #00a870;
    --td-success-color-6: #078d5c;
    --td-success-color-7: #067945;
    --td-success-color-8: #056334;
    --td-success-color-9: #044f2a;
    --td-success-color-10: #033017;
    --td-gray-color-1: #f3f3f3;
    --td-gray-color-2: #eee;
    --td-gray-color-3: #e7e7e7;
    --td-gray-color-4: #dcdcdc;
    --td-gray-color-5: #c5c5c5;
    --td-gray-color-6: #a6a6a6;
    --td-gray-color-7: #8b8b8b;
    --td-gray-color-8: #777;
    --td-gray-color-9: #5e5e5e;
    --td-gray-color-10: #4b4b4b;
    --td-gray-color-11: #383838;
    --td-gray-color-12: #2c2c2c;
    --td-gray-color-13: #242424;
    --td-gray-color-14: #181818;
    --td-font-white-1: #ffffff;
    --td-font-white-2: rgba(255, 255, 255, .55);
    --td-font-white-3: rgba(255, 255, 255, .35);
    --td-font-white-4: rgba(255, 255, 255, .22);
    --td-font-gray-1: rgba(0, 0, 0, .9);
    --td-font-gray-2: rgba(0, 0, 0, .6);
    --td-font-gray-3: rgba(0, 0, 0, .4);
    --td-font-gray-4: rgba(0, 0, 0, .26);
    /*--td-color:rgba(0,0,0,0.6);*/
    /*--td-border-level-1-color: var(--td-gray-color-3);*/
    /*--td-border-level-2-color: var(--td-gray-color-4);*/

    --td-brand-color: var(--td-brand-color-8);
    --td-warning-color: var(--td-warning-color-5);
    --td-error-color: var(--td-error-color-6);
    --td-success-color: var(--td-success-color-5);
    --td-brand-color-hover: var(--td-brand-color-7);
    --td-brand-color-focus: var(--td-brand-color-2);
    --td-brand-color-active: var(--td-brand-color-9);
    --td-brand-color-disabled: var(--td-brand-color-3);
    --td-brand-color-light: var(--td-brand-color-1);
    --td-warning-color-hover: var(--td-warning-color-4);
    --td-warning-color-focus: var(--td-warning-color-2);
    --td-warning-color-active: var(--td-warning-color-6);
    --td-warning-color-disabled: var(--td-warning-color-3);
    --td-warning-color-light: var(--td-warning-color-1);
    --td-error-color-hover: var(--td-error-color-5);
    --td-error-color-focus: var(--td-error-color-2);
    --td-error-color-active: var(--td-error-color-7);
    --td-error-color-disabled: var(--td-error-color-3);
    --td-error-color-light: var(--td-error-color-1);
    --td-success-color-hover: var(--td-success-color-4);
    --td-success-color-focus: var(--td-success-color-2);
    --td-success-color-active: var(--td-success-color-6);
    --td-success-color-disabled: var(--td-success-color-3);
    --td-success-color-light: var(--td-success-color-1);
    --td-mask-active: rgba(0, 0, 0, .6);
    --td-mask-disabled: rgba(255, 255, 255, .6);
    --td-bg-color-page: var(--td-gray-color-2);
    --td-bg-color-container: #fff;
    --td-bg-color-container-hover: var(--td-gray-color-1);
    --td-bg-color-container-active: var(--td-gray-color-3);
    --td-bg-color-container-select: #fff;
    --td-bg-color-secondarycontainer: var(--td-gray-color-1);
    --td-bg-color-secondarycontainer-hover: var(--td-gray-color-2);
    --td-bg-color-secondarycontainer-active: var(--td-gray-color-4);
    --td-bg-color-component: var(--td-gray-color-3);
    --td-bg-color-component-hover: var(--td-gray-color-4);
    --td-bg-color-component-active: var(--td-gray-color-6);
    --td-bg-color-component-disabled: var(--td-gray-color-2);
    --td-bg-color-specialcomponent: #fff;
    --td-text-color-primary: var(--td-font-gray-1);
    --td-text-color-secondary: var(--td-font-gray-2);
    --td-text-color-placeholder: var(--td-font-gray-3);
    --td-text-color-disabled: var(--td-font-gray-4);
    --td-text-color-anti: #fff;
    --td-text-color-brand: var(--td-brand-color-8);
    --td-text-color-link: var(--td-brand-color-8);
    --td-border-level-1-color: var(--td-gray-color-3);
    --td-component-stroke: var(--td-gray-color-3);
    --td-border-level-2-color: var(--td-gray-color-4);
    --td-component-border: var(--td-gray-color-4);
    --td-shadow-1: 0 1px 10px rgba(0, 0, 0, .05), 0 4px 5px rgba(0, 0, 0, 8%), 0 2px 4px -1px rgba(0, 0, 0, 12%);
    --td-shadow-2: 0 3px 14px 2px rgba(0, 0, 0, .05), 0 8px 10px 1px rgba(0, 0, 0, 6%), 0 5px 5px -3px rgba(0, 0, 0, 10%);
    --td-shadow-3: 0 6px 30px 5px rgba(0, 0, 0, .05), 0 16px 24px 2px rgba(0, 0, 0, 4%), 0 8px 10px -5px rgba(0, 0, 0, 8%);
    --td-shadow-inset-top: inset 0 .5px 0 #dcdcdc;
    --td-shadow-inset-right: inset .5px 0 0 #dcdcdc;
    --td-shadow-inset-bottom: inset 0 -.5px 0 #dcdcdc;
    --td-shadow-inset-left: inset -.5px 0 0 #dcdcdc;
    --td-table-shadow-color: rgba(0, 0, 0, .08);
    --td-scrollbar-color: rgba(0, 0, 0, .1);
}

/* 侧栏宽度 */
.layui-nav-tree{
    padding: 15px;
    width: var(--side-width);
}
.layui-layout-admin .layui-logo{
    top: 0;
    height: 60px;
}

.layui-layout-admin .layui-side .layui-nav-tree{
    top: 60px;
}



.layui-layout-admin .layui-logo,
.layui-layout-admin .layui-side{
    width: var(--side-width);
}
.layui-layout-admin .layui-footer,
.layui-body
{
    left: var(--side-width);
}
/*
  ul.layui-nav.layui-nav-tree
    a
    li.layui-nav-item.layui-nav-itemed
    li.layui-nav-item
        a
        dl.layui-nav-child
            dd.layui-this
*/

/* 重置a标签 */
ul.layui-nav a{
    color:var(--td-color)  !important;
    border-radius: 5px;
}

.layui-side dd,
.layui-nav-tree .layui-nav-item
{
    border-radius: 5px;
}

.layui-nav-tree .layui-nav-item > a{
    padding-top: 0;
    padding-bottom: 0;
}

.layui-nav-tree .layui-nav-item > a .layui-nav-more{
    padding: 0;
}

/* 取消默认背景颜色 */
.layui-nav-itemed > dl.layui-nav-child{
    background-color: var(--bg-color) !important;
}
/*sidebar背景颜色*/
.layui-layout-admin .layui-side{
    top:0;
}

.layui-layout-admin .layui-side .layui-logo,
.layui-side.layui-bg-black,
.layui-side .layui-nav{
    background-color: var(--bg-color) !important;
}

.layui-layout-left{
    left: 0px;
}

.layui-header ul.layui-nav a{
    color:#0C0C0C!important;
}

.layui-layout-admin .layui-header .layui-nav-bar{
    background-color: var(--td-brand-color-1);
}

/*隐藏默认的标志hover*/
.layui-side .layui-nav-tree .layui-nav-bar{
    display: none;
}

.layui-side dl.layui-nav-child .layui-this a,
.layui-nav-tree .layui-nav-item.layui-this > a
{
    background-color: var(--td-brand-color);
    color: #fff !important;
}

.layui-side .layui-nav-tree .layui-nav-child dd,
.layui-side .layui-nav-tree >.layui-nav-item
{
    margin-top: 5px;
}

.layui-side .layui-nav-tree dl.layui-nav-child dd:not(.layui-this) a:hover,
.layui-nav-tree .layui-nav-item > a:hover
{
    background-color: var(--td-brand-color);
    color:var(--td-hover-color) !important;
}


.layui-layout-admin .layui-header{
    background-color: var(--header-bg-color);
    position: fixed;
    left: var(--side-width);
    /*box-shadow: var(--header-box-shadow);*/
}

/* 基础元素-按钮 */

.layui-btn{
    height: 32px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    outline: none;
    /*border: 0;*/
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 3px;
    transition: all .2s linear;
    user-select: none;
    touch-action: manipulation;
    border: 1px solid;
    color: var(--td-bg-color-specialcomponent);
    background-color: var(--td-brand-color);
    border-color: var(--td-brand-color);
}

.layui-btn-primary{
    color: var(--td-text-color-primary);
    background-color: var(--td-bg-color-specialcomponent);
}

.layui-btn-normal{
    color: var(--td-bg-color-specialcomponent);
    background-color: var(--td-brand-color);
    border-color: var(--td-brand-color);
}

.layui-btn-warm{
    color: var(--td-text-color-anti);
    background-color: var(--td-error-color);
    border-color: var(--td-error-color);
}
.layui-btn-danger{
    color: var(--td-text-color-anti);
    background-color: var(--td-error-color);
    border-color: var(--td-error-color);
}
.layui-btn-success{
    color: var(--td-text-color-anti);
    background-color: var(--td-success-color-active);
    border-color: var(--td-success-color-active);
}

.layui-btn-lg{
    height: 40px;
    font-size: 16px;
    padding-left: 23px;
    padding-right: 23px;
}
.layui-btn-sm{
    height: 24px;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
}
.layui-btn-xs{
    height: 20px;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.layui-btn-radius{
    border-radius: 100px;
}

.layui-form-checkbox[lay-skin="primary"] i{
    /*position: relative;*/
    /*display: inline-block;*/
    width: 16px;
    height: 16px;
    /*vertical-align: middle;*/
    border: 1px solid var(--td-border-level-2-color);
    border-radius: 3px;
    /*background-color: var(--td-bg-color-container);*/

}

input.layui-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    max-width: 100%;
    min-width: 0;
    color: var(--td-text-color-primary);
    height: 32px;
    line-height: 32px;
    background-color: transparent;
}
input.layui-input{
    transition: all cubic-bezier(.38,0,.24,1) .2s;
}

input.layui-input:focus {
    z-index: 1;
    border-color: var(--td-brand-color) !important;
    box-shadow: 0 0 0 2px var(--td-brand-color-focus);
}
input.layui-input{
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: var(--td-border-level-2-color);
    height: 32px;
    line-height: 32px;
    min-height:32px;
    padding-left: 5px;
}
input.layui-input:hover{
    border-color: var(--td-brand-color) !important;
}

.layui-input-block{
    border:none;
    min-height: 32px;
}

.layui-form-label{
    padding: 6px 15px;
}

.layui-form-pane .layui-form-label{
    height: 32px;
    line-height: 32px;
    min-height:32px;
    width: 108px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 0 0 3px;
    text-align: center;
    background-color: #FAFAFA;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0;
    font-size: 14px;

}

.layui-form-pane .layui-input{
    border-radius: 0 3px 3px 0;
}
.layui-form-switch{
    line-height: 20px;

}

.layui-form-switch em{
    font-size: 9px;
    /*margin-left: 1px;*/
}

.layui-form-switch i{
    width: 20px;
    height: 20px;
    left: 2px;
    top: 1px;
    transition: all .2s cubic-bezier(.38,0,.24,1);

}

.layui-form-onswitch{
    border-color:  var(--td-brand-color-1);
    background-color:  var(--td-brand-color-1);
}

.layui-form-onswitch i{
    left: 100%;
}


.layui-anim-scaleSpring{
    animation-name:initial;
    -webkit-animation-name:initial;
    transition: all .2s cubic-bezier(0,0,.15,1);
}

.layui-form-radio > i{
    font-size: 16px;
    transition: all .2s cubic-bezier(0,0,.15,1);
}

.layui-form-radio:hover *,
.layui-form-radioed,
.layui-form-radioed > i{
    color:  var(--td-brand-color-1);
}

.layui-form-select dl{
    padding: 18px 12px;
    border-radius: 0 3px 3px 0;
}
.layui-form-select dl > dd{
    margin-top: 4px;
}

.layui-form-select dl dd, .layui-form-select dl dt{
    border-radius: 3px;
}

.layui-form-select dl dd.layui-this{
    color:  #fff;
    background-color: var(--td-brand-color-1);
}

.layui-form-pane .layui-input-block{
    margin-left: 109px;
}
.layui-laydate-content td{
    border-radius: 30px;
}
.layui-laydate-content td, .layui-laydate-content th{
    width: 36px;
    font-size: 12px;
    height: 36px !important;
}

.layui-laydate ul> li.layui-this{
    border-radius: 3px;
}

.layui-laydate tr> td.layui-this,.layui-laydate ul> li.layui-this{
    background-color: var(--td-brand-color-1) !important;
    color: #fff !important;
}

div.layui-laydate-header i:hover, .layui-laydate-header span:hover{
    color:var(--td-brand-color-1) !important;
}

.layui-laydate-content td:hover,
.layui-laydate-list li:hover{
    border-radius: 3px;
}

.layui-laydate-content td:hover{
    border-radius: 30px;
}

.layui-laydate-list > li{
    height: 32px;
    line-height: 32px;
}

.ia-notification .icon{
    width: 24px;
    text-align: center;
    margin-right: 8px;
    font-size: 24px;
    color: var(--td-error-color-6);
}
.ia-notification_list{
    z-index: 1001;
    position: absolute;
    top: 15px;
    right: 25px;
}

.ia-notification{
    font-size: 14px;
    outline: 0;
    border: 0;
    background-color: var(--td-bg-color-container);
    display: flex;
    box-shadow: var(--td-shadow-2);
    box-sizing: border-box;
    border-radius: 3px;
    width: 400px;
    padding: 20px 24px 24px;
    margin: 10px;

    /*visibility: hidden;*/
}

.ia-notification .title_contain{
    display: flex;
    justify-content: space-between;
}

.ia-notification .title_contain .title{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: var(--td-text-color-primary);
    line-height: 24px;
}

.ia-notification .content {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: var(--td-text-color-secondary);
    line-height: 22px;
    margin-top: 8px;
    max-height: 66px;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div.layui-layout-admin > div.layui-tab > ul.layui-tab-title > li.layui-this::after,.layui-layout-admin > .layui-tab > ul.layui-tab-title > li{
    border:none;
    border-bottom:none !important;
    /*border-left: 1px solid #eee;*/
    border-right: 1px solid #eee;
}
.layui-layout-admin > .layui-tab > .layui-tab-title{
    border: 1px solid #eee;
}

.layui-layout-admin > .layui-tab{
    margin-top: 0;
    left: var(--side-width);
    top: 60px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.layui-layout-admin > .layui-tab > .layui-tab-content,.layui-layout-admin > .layui-tab > .layui-tab-content > .layui-tab-item{
    padding: 0;
    height: 100%;
    width: 100%;
}

.layui-tab-title li .layui-tab-close:hover{
    background-color: var(--td-brand-color-1);
    color: #fff;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    line-height: 18px;
}

.layui-layout-admin .layui-tab-title li.layui-this:after{
    width: 100%;
}

.layui-layout-admin .layui-tab-title li:hover:after{
    width: 100%;
}
.layui-layout-admin .layui-tab-title li:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 0;
    background-color: var(--td-brand-color-1);
    transition: all .3s;
    -webkit-transition: all .3s;
}